@import "bootstrap";

.header {
	background-color:grey;
}

.hero{
	background:url('MLKpic.jpg');
	background-size: cover;
	height:350px;
	
	color:black;
	font-family: freshman; 
	z-index: -1;
}

.header {
  width: 100%;
  background: #262626;
  color: grey;
  margin-left: 0px;
}

.navbar {
	padding:0;
}

.container {
	max-width: 100%;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}

a {
	color: grey;
}


.log-in-help-link {
	margin-left: auto;
	margin-right:0px;
}

.nav {
	text-align: right;
}

#change {
	margin-left: 15%;
}

h1 {
	font-size: 3.5rem;
	color: #575757;
}


img {
	height:300px; width:400px;
}


.jumbotron {
	margin-bottom: 0px;
}

