<!DOCTYPE html>
<html>
<head>
  <title>Movements</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

	<header>
		<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="container">
					<div class="header">
							<a class="navbar-brand" href="#">Movements</a>

							<ul class="nav navbar-nav navbar-right" id="log-in-help-links">
								<li><a href="#">Login</a></li>
								<li><a href="#">Help</a></li>
							</ul>
					</div>
				</div>
		</nav>

	</header>

	<section id="jumbo" class="jumbotron hero">
		<div class="container">
			<h1>CHANGE</h1>

			
		</div>

	</section>

	<%= yield %>

</body>
</html>
